body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: $fourth-color;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 94px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $second-color;
}