.page-header {
    border-bottom: 1px solid #ECECEC;
    &--flex {
        display: flex;

        @media (min-width: 768px) {
            align-items: center;
        }
    }

    &__box {
        @media (max-width: 767px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 60px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;

    @media (min-width:768px) {
            &__list {
                display: flex;
            }
        }

    &__item {
        @media (min-width: 768px) {
            position: relative;

            &:not(:first-child) {
                margin-left: 50px;
            }
        }

        @media (max-width: 767px) {
            margin-bottom: 32px;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $second-color;

        @media (min-width: 768px) {
            display: block;
            padding: 32px 0;
            font-size: 14px;
            line-height: 1.14;
            transition: color 250ms $cubic;
        }
    }

    &__link:hover, &__link:focus {
        color: $third-color;
    }

        &__link--current{
            color: $third-color;
        }

    @media (min-width: 768px) {
        &__link--current::after {
            content: '';
            position: absolute;
            bottom: -1px;
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 2px;
    
            background-color: $third-color;
        }
    }
}

.contacts {
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }

    @media (min-width:768px) and (max-width: 1199px) {
        flex-direction: column;
        margin-top: 21px;
        margin-bottom: 21px;
        margin-left: 84px;
    }

    &__item {
        @media (max-width: 767px) {
        margin-bottom: 32px;

            &:first-child {
                margin-bottom: 64px;
            }
        }

        @media (min-width:768px) and (max-width: 1199px) {
            &:first-child {
                margin-bottom: 8px;
            }
        }

        @media (min-width: 1200px) {
            &:not(:first-child) {
                position: relative;
                margin-left: 50px;
            }
        }
    }

    &__link {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16px;
        letter-spacing: 0.02em;
        
        color: $main-color;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;

            font-size: 12px;
            line-height: 1.14px;
            transition: color 250ms $cubic;

            &:hover,
            &:focus {
                color: $third-color;
            }
        }

        @media (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
            align-items: center;

            font-size: 14px;
            line-height: 1.16px;
        }
    }

    @media (max-width:767px) {
        &__link--blue {
            font-size: 34px;
            line-height: 1.17;
            color: $third-color;
        }
    }

    &__social-list {
        display: flex;
            
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__social-item:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &__social-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $third-color;
    }

    @media (max-width: 767px) {
        &__email {
            display: none;
        }

        &__smartphone {
            display: none;
        }
    }

    &__email {
        height: 12px;
        width: 16px;
        margin-right: 8px;
        fill: currentColor;

        @media (min-width: 1200px) {
            margin-right: 10px;
        }
    }

    &__smartphone {
        height: 16px;
        width: 10px;
        margin-right: 8px;
        fill: currentColor;

        @media (min-width: 1200px) {
            margin-right: 10px;
        }
    }
}

.burger-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;

    z-index: 20;

    color: $second-color;
    background-color: transparent;

    &:hover, &:focus {
        color: $third-color;
    } 

    @media (min-width: 768px) {
        display: none;
    }

    &__icon {
        width: 40px;
        height: 40px;

        fill: currentColor;
    }

    &__close {
        display: none;
    }

    &__box {

        @media (max-width:767px) {
            display: none;
            position: absolute;
            padding: 48px 40px;

            height: 100vh;
            z-index: 10;

            top: 0;
            left: 0;
            width: 100%;
            background-color: $fourth-color;

            &.is-open {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: fixed;
                }
        }

        @media (min-width:768px) {
            display: flex;
        }

        @media (min-width:1200px) {
            display: contents;
        }
    }
}

.burger-menu.is-open .burger-menu__close {
    display: block;
}

.burger-menu.is-open .burger-menu__open {
    display: none;
}