.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $cubic;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px;
    width: 528px;
    height: 581px;

    background: $fourth-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__text {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $second-color;
    }

    &__indent {
        position: relative;
        margin-bottom: 10px;
    }

    &__font {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $main-color;
    }

    &__input {
        width: 100%;
        height: 40px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border 250ms $cubic;

        &:focus {
                outline: none;
                border: 1px solid $modal-btn;
            }

            &:focus + .modal__icon {
                fill: $modal-btn;
            }
    }

    &__icon {
        height: 18px;
        width: 18px;
        top: 28px;
        position: absolute;
        left: 15px;
        transition: fill 250ms $cubic;
    }

    &__textarea {
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        margin-bottom: 20px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        transition: border 250ms $cubic;

        &:focus {
                outline: none;
                border: 1px solid $modal-btn;
            }
    }

    &__agreement {
        position: relative;
        margin-bottom: 30px;
        text-align: center;
        line-height: 1.71;
    }

    &__checkbox {
        margin-right: 8px;
        opacity: 0;

        &:checked ~ .vector {
                display: none;
            }

        &:checked ~ .check {
            display: block;
            background-color: $third-color;
        }
    }

    &__link {
        text-decoration: underline;
        color: $modal-btn;
    }

    &__check {
        position: absolute;
        top: 3px;
        left: 10px;
        width: 16px;
        height: 15px;
        pointer-events: none;
    }

    &__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 55px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: $fourth-color;
        background: $modal-btn;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;

        &:hover, &:focus {
            background-color: #188CE8;
        }
    }

    &__close {
        position: absolute;
        box-sizing: content-box;
        top: 8px;
        right: 8px;
        padding: 6px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: fill 250ms $cubic;

        &:hover {
                fill: $third-color;
            }
    }
}

.check {
    display: none;
    border-radius: 2px;
    fill: $third-color;
}