.team {
    background-color: $filter-color;

    &__list {
        display: inline-flex;
        flex-wrap: wrap;
    }

    &__item {
        background-color: $fourth-color;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);

            @media (max-width: 767px) {
                max-width: 450px;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            @media (max-width: 1199px) {
                &:nth-child(-n + 2) {
                    margin-bottom: 30px;
                }
            }

        @media (min-width: 768px) {
                width: 354px;
            }

        @media (min-width: 1200px) {
            width: 270px;
        }
    }

    @media (min-width: 768px) {
        &__item:nth-child(even) {
            margin-left: 30px;
        }
    }

    @media (min-width: 1200px) {
        &__item:not(:first-child) {
                margin-left: 30px;
            }
    }
    

    &__img {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin-bottom: 10px;
        color: $second-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
    }

    &__text {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
    }

    &__socials {
        display: flex;
        margin-bottom: 24px;

        @media (max-width: 767px) {
            justify-content: center;
        }

        @media (min-width: 768px) {
                margin-left: 74px;
            }

        @media (min-width: 1200px) {
            margin-bottom: 30px;
            margin-left: 32px;
        }
    }

    &__link {
        display: flex;
        justify-items: center;
        align-items: center;
        border-radius: 50%;
        padding: 12px;
        color: $icon-color;
        transition: color 250ms $cubic, background-color 250ms $cubic;

        &:hover, &:focus {
            color: $fourth-color;
            background-color: $third-color;
        }
    }

    &__icon:not(:first-child) {
        margin-left: 10px;
    }
}