// Палитра цветов макета и наборы шрифтов вынесены в переменные
$main-color: #757575;
$second-color: #212121;
$third-color: #2196f3;
$filter-color: #f5f4fa;
$btn: cursor;
$fourth-color: #ffffff;
$fiveth-color: rgba(255, 255, 255, 0.6);
$line-color: #ececec;
$bg-color: #2f303a;
$icon-color: #afb1b8;
$modal-btn: #2196F3;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);